.Navigation{
    margin-bottom: 20px;
    
}
.Brand{
    color:white;
    font-size: 15px;
    margin-top: -20px;
}
.NavLink{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-top: -25px;
    margin-left: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 2px solid #D70F64;
    border-radius :5px;
    background-color: white;
    padding: 10px;
    color: black;
}
.NavLink:hover{
   
}
.active{
  
    color:blue

}