.commonStyle{
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
}
.commonStyle2{
  border: 1px solid grey;
  border-radius: 5px;
  padding: 20px;
  background-color:tomato;
  color: white
}